.timesheetTitleFeilds{
    font-weight: 500;
    text-align: right;
    background: #fafafa;
}
.timesheetTotals {
    background: #fafafa;
}
.date {
    background: #fafafa;
}
th.dateSub span {
    font-size: 12px;
}
th.timesheetDay span {
    font-size: 12px;
}
td.dateSub :hover {
    background: red
}
#timesheet th {
text-align: center;
padding: 5px !important;
}
