.timesheetTitleFeilds {
    font-weight: 500;
    text-align: right;
    background: #fafafa;
}

.timesheetTotals {
    background: #fafafa;
}

.date {
    background: #fafafa;
}

#timesheet th {
    text-align: center;
    padding: 2px !important;
}

td.dateSub.hideTheseCells {
    padding: 2px !important;
    text-align: center;
}
td.nameSub.ant-table-column-has-actions.ant-table-column-has-sorters.ant-table-column-sort {
    padding: 7px !important;
}
/* td.dateSub.hideTheseCells {
    font-size: 12px !important;
    padding: 2px !important;
    text-align: center;
}
td.timesheetTotals{
    font-size: 12px !important;
    padding: 2px !important;
    text-align: center;
} */
th.dateSub.hideTheseCells {
    font-size: 10px !important
}

th.totals {
    background-color: #f6ffed !important;
    border-bottom: 2px solid #2ecc71 !important;
}

.hideTheseCells {
    display: none;
}

@media only screen and (min-width: 650px) {
    .hideTheseCells {
        display: table-cell;
    }
    th.dateSub.hideTheseCells {
    font-size: 12px !important
}
}

@media print {
    .hideTheseCells {
        display: table-cell;
    }
}