.Action.Required td:nth-child(1) {
    /* background-color: #fff1f0 !important; */
    border-right: 2px solid #e74c3c !important;
}
  .Closed.Out td:nth-child(1) {
    /* background-color: #f6ffed !important; */
    border-right: 2px solid #2ecc71 !important;
}

th.hideThis.hazardAction {
    background: #fafafa;
    text-align: center
}
td.hideThis.hazardAction {
    background: #fafafa;
    text-align: center;
}
td.hideThis.hazardAction span{
    cursor: not-allowed;
    color: #3498db
}