.boreTables {
  margin-bottom: 10px
}

.ant-table-footer {
  padding: 1px 15px;
  font-weight: 400;
  text-align: right;
}

.dailyReportTables .ant-table-title {
  padding: 5px;
  font-weight: 600;
  text-align: center;
  color: black;
  font-size: 11px;
}

.lafha {
  text-align: center;
}

.lafha div {
  text-align: center;
}

.dailyReportTables .ant-table tr>th {
  padding: 5px 5px !important;
}

.dailyReportTables th div {
  font-size: 10px !important
}

td.invoiced span {
  cursor: pointer;
  color: #3498db
}

@media only screen and (min-width: 992px) {
  .dailyReportTables .ant-table-title {
    font-size: 13px;
  }

  .dailyReportTables th div {
    font-size: 13px !important
  }

  .dailyReportTables .ant-table tr>th {
    padding: 5px 10px !important;
  }

}

#boresTableTwo .ant-table-title {
  background-color: #f6ffed !important;
  border-bottom: 2px solid #2ecc71 !important;
}

#boresTableThree .ant-table-title {
  background-color: #fff1f0 !important;
  border-bottom: 2px solid #e74c3c !important;
}

#boresTableFour .ant-table-title {
  background-color: #e6f7ff !important;
  border-bottom: 2px solid #3498db !important;
}

#boresTableFive .ant-table-title {
  background-color: #e6f7ff !important;
  border-bottom: 2px solid #3498db !important;
}

#boresTableSix .ant-table-title {
  background-color: #fffbe6 !important;
  border-bottom: 2px solid #f1c40f !important;
}

#boresTableSeven .ant-table-title {
  background-color: #fffbe6 !important;
  border-bottom: 2px solid #f1c40f !important;
}