#layoutSider {
  background-color: #1d3033 !important
}

.ant-menu-dark {
  background-color: #1d3033 !important
}

.ant-drawer-content {
  background: #1d3033 !important
}

.ant-menu-sub {
  background-color: #182729 !important
}

.ant-menu-item-selected {
  background-color: #3ea08e !important
}