#layoutSider {
  background-color: #1d3033 !important
}

.ant-menu-dark {
  background-color: #1d3033 !important
}

.ant-drawer-content {
  background: #1d3033 !important
}

.ant-menu-sub {
  background-color: #182729 !important
}

.ant-menu-item-selected {
  background-color: #3ea08e !important
}
#cpHeader{
  background-color: white
}
#headerAccount {
  max-width: 300px;
  width: 100%;
  position: absolute;
  right: 25px;
}

#navNotification {
  position: absolute;
    right: 20px;
    top: 14px;
    background: red;
    border: 2px solid #fafafa;
    width: 12px;
    height: 12px;
    text-align: center;
    border-radius: 20px;
    line-height: 25px;
    color: white;
}
#menuProfile a:hover {
  color: #52c41a
}